* {
  margin: 0;
  padding: 0;
}
.CodeMirror {
  height: 100% !important;
}
.react-codemirror2 {
  height: 100%;
}
.header {
  height: 50px;
  border: 0;
  background-color: #f5da55;
  border-color: #323330;
  border-bottom-width: 2px;
  border-style: solid;
}
.header p {
  text-align: center;
    font-size: 28px;
    line-height: 50px;
}
.code_container {
  /* display: flex;
  flex-direction: row;
  justify-content: stretch; */
  overflow: auto;
  padding-top: 20px;
}
.code_left {
  float: left;
  width: 50%;
}
.code_right {
  float: left;
  width: 50%;  
}
.code_pannel {
  height: calc(100vh - 120px);
  position: relative;
  overflow: auto;
}
.markdown_pannel {
  height: calc((100vh - 120px) / 2);  
  position: relative;
  overflow: auto;
}
.markdown_preview {
  height: calc((100vh - 120px) / 2);  
  position: relative;
  overflow: auto;
}
.btn_container {
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
}
.button {
  color: #FFF;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #3FA7DC;
  margin-left: 10px;
  border: none;
  height: 30px;
  width: 80px;
  cursor: pointer;
}
.button:hover {
  background-color: #277EAB;
}